@import "../vars.less";

.layout {
  position: relative;
  height: 100vh;

  &.withnavbar {
    .main {
      margin-left: 0;
    }
  }

  &.fold {
    .sider {
      width: 42px;

      .logo {
        img {
          width: 28px;
          height: 28px;
          margin: 6px 7px;
        }
      }

      :global {
        .ant-menu-root {
          width: 100%;

          & > .ant-menu-item {
            padding: 0;
            text-align: center;

            .anticon {
              font-size: 14px;
              margin-right: 0;
            }
          }

          & > .ant-menu-submenu {
            & > .ant-menu-submenu-title {
              padding: 0;
              text-align: center;

              .anticon {
                font-size: 14px;
                margin-right: 0;
              }

              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

    .main {
      margin-left: 42px;
    }
  }

  //头部菜单
  .header {
    :global .ant-menu-horizontal {
      border: none;
      background-color: @menu-horizontal-background-color;
      & > .ant-menu-submenu {
        float: right;
      }
    }
    box-shadow: @shadow-2;
    position: relative;
    //顶部菜单的左边的缩进按钮
    .siderbutton {
      height: 47px;
      width: 47px;
      line-height: 47px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      position: absolute;

      &:hover {
        color: @primary-color;
        background-color: fade(@primary-color, 15%);
      }
    }
  }

  //面包屑
  .bread {
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    margin-bottom: -24px;
  }

  //主窗体内容
  .main {
    margin-left: @sider-width;
    overflow: auto;
    height: 100vh;
    transition: @transition-ease-out;

    .container {
      margin: 24px;

      //没有bread，626px
      .content {
        min-height: e("calc(100vh - 143px)");
        position: relative;

        :global .content-inner {
          background: #fff;
          padding: 24px;
          box-shadow: @shadow-1;
          min-height: e("calc(100vh - 143px)");
        }
      }

      //有，610px
      .content.hasBread {
        min-height: e("calc(100vh - 159px)");
        position: relative;

        :global .content-inner {
          background: #fff;
          padding: 24px;
          box-shadow: @shadow-1;
          min-height: e("calc(100vh - 159px)");
        }
      }

    }
  }

  //底部页脚
  .footer {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background: #fff;
    box-shadow: @shadow-2;
    width: 100%;
  }
}

//左边的sider
.sider {
  width: @sider-width;
  background: @sider-background-color;
  position: absolute;
  overflow: visible;
  padding-bottom: 24px;
  height: @sider-height;
  transition: @transition-ease-out;
  box-shadow: @shadow-1;
  z-index: 1000;
  color: @sider-color;

  //标志
  .logo {
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: 28px 0;
    transition: @transition-ease-out;
    overflow: hidden;
    //标志的图片
    img {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      transition: @transition-ease-out;
      border-radius: 50%;
    }
    //标志的文字
    span {
      vertical-align: text-bottom;
      font-size: 16px;
      text-transform: uppercase;
      display: inline-block;
    }

    .anticon {
      transition: @transition-ease-out;
    }
  }

  /*.siderMenu {
  //  position: absolute;
  //  width: 100%;
  //  max-height: ~"calc(100% - 88px)";
  //  overflow-y: scroll;
  //  overflow-x: hidden;
  //
  //  &::-webkit-scrollbar-thumb {
  //    display: none;
  //  }
  //}

  //.switchtheme {
  //  width: 100%;
  //  position: absolute;
  //  bottom: 0;
  //  height: 48px;
  //  background-color: @dark-half;
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //  padding: 0 16px 0 24px;
  //  overflow: hidden;
  //  z-index: 1000;
  //
  //  span {
  //    white-space: nowrap;
  //    overflow: hidden;
  //  }
  //
  //  :global {
  //    .anticon {
  //      min-width: 14px;
  //      margin-right: 8px;
  //      font-size: 14px;
  //    }
  //  }
  //}

  //:global {
  //  .ant-menu-dark,
  //  .ant-menu-dark .ant-menu-sub {
  //    //color: #999;
  //  }
  //
  //  .ant-menu {
  //    transition: @transition-ease-out;
  //
  //    .ant-menu-item,
  //    .ant-menu-submenu-title {
  //      overflow: hidden;
  //      white-space: normal;
  //    }
  //  }
  //}
  */
}

//重写  菜单的黑色风格
:global .ant-menu-dark {
  color: @menu-dark-color !important;
  background: @sider-background-color !important;

  .ant-menu-item,
  .ant-menu-submenu {
    border-bottom: @menu-border-bottom;
  }
  .ant-menu-submenu.ant-menu-submenu-open {
    .ant-menu-submenu-title {
      border-bottom: @menu-border-bottom;
      transition: none;
    }
  }

}

:global .ant-menu-root.ant-menu-dark.ant-menu-inline {
  .ant-menu-item-selected {
    background-color: @menu-dark-background-color-select;
  }
}

:global .ant-menu-dark.ant-menu-inline {
  //主菜单的字体大小
  .ant-menu-submenu-title,
  .ant-menu-item {
    font-size: @menu-submenu-fontsize;
  }

  //子菜单的各item
  .ant-menu-sub {
    .ant-menu-item {
      border-bottom: @menu-border-bottom;
      background: url("../../assets/Images/menu_line.png") @sider-background-color no-repeat 26px 0;
      &:last-child{
        border-bottom: none;
      }
      //子菜单的文字大小
      a {
        font-size: @menu-item-fontsize;
      }

    }
    //子菜单被选中
    .ant-menu-item-selected {
      background: url("../../assets/Images/menu_line_active.png") @sider-background-color no-repeat 22px 0;
      a {
        color: @menu-dark-color-select;
      }
    }
  }
}

//选中子菜单，主菜单的样式
:global .ant-menu-submenu-selected {
  .ant-menu-submenu-title {
    background-color: @menu-dark-background-color-select;
    &:hover {
      background-color: @menu-dark-background-color-select !important;
    }
  }
}

//气泡菜单，用于下拉的
.popovermenu {
  width: 280px;
  left: 12px !important;

  :global .ant-popover-inner-content {
    padding: 0;

    .ant-menu-inline .ant-menu-item,
    .ant-menu-vertical .ant-menu-item {
      border-right: 0;
      height: 48px;
      line-height: 48px;
    }

    .ant-menu-inline .ant-menu-item-selected,
    .ant-menu-inline .ant-menu-selected {
      border-right: 0;
    }
  }
}

//全局加载框
.spin {
  :global .ant-spin-container {
    height: 100vh;
  }
}
