.login-page {
  background: #d2d6de no-repeat top center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% auto;
}

.login-box,
.register-box {
  width: 360px;
  margin: 30% auto;
}

@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin: 40% auto;
  }
}

.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.login-logo img,
.register-logo img {
  height: 40px;
  width: 48px;
  margin-right: 15px;
  vertical-align: sub;
}

.login-logo a,
.register-logo a {
  color: #fff;
}

.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
  box-shadow: 5px 5px 1px 1px;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
  font-size: 18px;
}

.social-auth-links {
  margin: 10px 0;
}

.login-form-button {
  width: 100%;
  margin-top: -10px;
}

.login-form-forgot {
  float: right;
}
